name: flutter_firebase_auth_app
description: A new Flutter project.
publish_to: "none"
environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6

flutter:
  uses-material-design: true
